$primary : #0077b6;
$secondary : #ee6c4d;
$info : #0096c7;
$warning :#ee9b00;
$danger : #d00000;

$breadcrumb-font-size:              0.8rem;
$breadcrumb-padding-y:              0.5rem;
$breadcrumb-padding-x:              0;
$breadcrumb-active-color:           #669BBC;
$breadcrumb-divider-color:          #669BBC;
$breadcrumb-item-padding-x:         .5rem;
$breadcrumb-margin-bottom:          1rem;
$breadcrumb-bg:                     #E9ECEF;
$breadcrumb-divider:                quote(">");
$breadcrumb-divider-flipped:        $breadcrumb-divider;
$breadcrumb-border-radius:          null;

$form-check-input-bg:                     #0096C7;
$form-check-input-border:                 2px solid #ffffff;
$form-check-input-focus-border:           #ffffff;

$form-check-input-checked-color:          #fff;
$form-check-input-checked-bg-color:       #0096C7;
$form-check-input-checked-border-color:   #ffffff;


@import "../Bootstrap/scss/functions";
@import "../Bootstrap/scss/variables";

$custom-theme-colors : (
    "km-primary" : #2A9D8F,
    "km-secondary" : #00509D,
    "km-gray" : #F8F9FA,
    "km-gray-100" : #6C757D,
    "km-gray-50" : #CED4DA,
    "km-gray-10" : #E9ECEF,
    "km-lightgreen" : #d2f8fc,
    "km-blue" : #118AB2,
    "km-lightblue" : #669BBC,
    "km-pink" : #c05299,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../Bootstrap/scss/bootstrap";


.byme-ff-poppins{
    font-family: 'Poppins', sans-serif;
}

body table .admin-product-size{
    height: 100px;
    width: 100px;
}


:root{
    --swiper-theme-color: #00c49a;
    --swiper-pagination-color: var(--swiper-theme-color);
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 25px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 20px;
    --swiper-pagination-bullet-height: 20px;
    --swiper-pagination-bullet-inactive-color: #00000000;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
}
@import "../../Swiper/swiper-bundle.min.css";